<div class="card bg-light mb-3">
    <div class="card-header">Add Data</div>
    <div class="card-body">
        <form [formGroup]="pocForm" (ngSubmit)="onSubmit()">
            <fieldset>
              <legend>POC Data Form</legend>
              <ng-container *ngFor="let error of errors">
                <div *ngIf="errors.length > 0" class="alert alert-dismissible alert-danger">
                    <strong>Oh snap!</strong> {{ error }}
                </div>
              </ng-container>
              <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input type="text" class="form-control" id="exampleInputName1" formControlName="name" placeholder="Enter Name">
                
                <app-form-validation
                [control]="name"
                [messages]="{required:'Please enter a cool name'}">
                </app-form-validation>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">DOB</label>
                <input type="date" class="form-control" id="exampleInputBudget" formControlName="dob" placeholder="DOB">
                <app-form-validation
                [control]="dob"
                [messages]="{required:'Please enter Date of Birth'}">
                </app-form-validation>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                <app-form-validation
                [control]="email"
                [messages]="{required:'Please enter email', email: 'Not a valid Email'}">
                </app-form-validation>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Budget</label>
                <input type="number" class="form-control" id="exampleInputBudget" formControlName="budget" placeholder="Budget">
                <app-form-validation
                [control]="budget"
                [messages]="{required:'Please enter your budget'}">
                </app-form-validation>
              </div>
              <fieldset class="form-group">
                <legend>Gender</legend>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="gender" id="optionsRadios1" formControlName="gender" value="Male" checked="">
                    Male
                  </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="gender" id="optionsRadios1" formControlName="gender" value="Female" checked="">
                      Female
                    </label>
                </div>
                <app-form-validation
                  [control]="gender"
                  [messages]="{required:'Please select a gender'}">
                </app-form-validation>
              </fieldset>
              <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
        </form>
    </div>
  </div>